@import '../../utils/colors.scss';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-header {
  display: grid;
  border-top: 2px solid $blue5;
  background: $blue2;
  border-bottom: 1px solid $blue5;
}

.table-body {
  overflow: auto;
}

.table-th {
  padding: 5px 5px 5px 15px;
  color: $grey9;
  font-weight: bold;
  border-right: 1px solid $grey4;
}

.first-cell-th {
  border-left: 1px solid $grey4;
}


.table-body {
  border-bottom: 1px solid $grey3;
}

.table-tr {
  display: grid;
}

.odd-row {
  background: $grey2;
}


.table-td {
  padding: 5px 5px 5px 15px;
  border-right: 1px solid $grey3;
}

.first-cell-td {
  border-left: 1px solid $grey3;
}

.table-icon {
  color: $grey8;
  margin-right: 10px;
  cursor: pointer;
}
