<app-panel [width]="300" [minWidth]="110" [maxWidth]="450">
  <div class="current-plans">
    <div class="current-plans-header">
      <p class="current-plans-title">Current plans</p>
      <button-component class="current-plans-button" [title]="'Add plan'" (click)="newPlan()"></button-component>
    </div>
    <p class="no-plans">{{loggedIn ? 'No plans created yet' : 'Sign in so you can save new plans and edit the ingredient list'}}</p>
  </div>
</app-panel>

<div class="content">
  <div class="tabs">
    <div *ngFor="let tab of tabs"
        [ngClass]="{'tab': tab !== selectedTab, 'tab-selected': tab === selectedTab, 'tab-plan-related': tab.type === TabType.NEW_PLAN}"
        (click)="selectTab(tab)"
    >
      {{tab.name}}
    </div>
  </div>

  <app-ingredients
    *ngIf="selectedTab.type === TabType.INGREDIENTS"
    [loggedIn]="loggedIn"
    class="main-content"
    (newIngredientOutput)="newIngredient()"
    (editIngredientOutput)="editIngredient($event)"
  >
  </app-ingredients>

  <app-new-ingredient
    *ngIf="selectedTab.type === TabType.NEW_INGREDIENT"
    [edit]="false"
    class="main-content"
    (processFinalized)="endedAddingEditingIngredient($event)"
  >
  </app-new-ingredient>

  <app-new-ingredient
    *ngIf="selectedTab.type === TabType.EDIT_INGREDIENT"
    [edit]="true"
    [ingredient]="selectedTab.data"
    class="main-content"
    (processFinalized)="endedAddingEditingIngredient($event)"
  >
  </app-new-ingredient>

  <app-new-plan
    *ngIf="selectedTab.type === TabType.NEW_PLAN"
    class="main-content"
    (generatedPlan)="generatedPlan($event)"
  >
  </app-new-plan>

  <app-generated-plan
    *ngIf="selectedTab.type === TabType.GENERATED_PLAN"
    class="main-content"
    [plan]="selectedTab.data"
  ></app-generated-plan>
</div>
