/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';

body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
