$blue1: #E0e8f9;
$blue2: #bed0f7;
$blue3: #98aeeb;
$blue4: #7b93db;
$blue5: #647acb;
$blue6: #4c63b6;
$blue7: #4055a8;
$blue8: #35469c;
$blue9: #2d3a8c;
$blue10: #19216c;

$grey1: #F5f7fa;
$grey2: #e4e7eb;
$grey3: #cbd2d9;
$grey4: #9aa5b1;
$grey5: #7b8794;
$grey6: #616e7c;
$grey7: #52606d;
$grey8: #3e4c59;
$grey9: #323f4b;
$grey10: #1f2933;

$secondary1: #FFFbea;
$secondary2: #fff3c4;
$secondary3: #Fce588;
$secondary4: #fadb5f;
$secondary5: #f7c948;
$secondary6: #f0b429;
$secondary7: #de911d;
$secondary8: #cb6e17;
$secondary9: #b44d12;
$secondary10: #8d2b0b;

$tertiary1: #ffe3e3;
$tertiary2: #ffbdbd;
$tertiary3: #ff9b9b;
$tertiary4: #f86a6a;
$tertiary5: #ef4e4e;
$tertiary6: #e12d39;
$tertiary7: #cf1124;
$tertiary8: #ab091e;
$tertiary9: #8a041a;
$tertiary10: #610316;

$size1: 16px;
$size2: 20px;
$size3: 24px;
$size4: 30px;
$size5: 38px;
