@import '../../utils/colors.scss';


pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  white-space: pre-wrap; /* This ensures that the text breaks and wraps */
  word-wrap: break-word;  /* This prevents long strings from breaking the layout */
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

:host {
  padding: 20px 50px 0 50px;
}

.total-price {
  color: #00910c;
  margin-left: 10px;
  font-weight: bold;
  padding: 2px 10px;
  background: #dfffe9;
}

.plan{
  display: flex;
  flex-direction: row !important;
  overflow: auto;
}

.first-column {
  width: 120px;
  padding-top: 31px;
}

.note-icon {
  margin-right: 5px;
}

.errors-warning {
  background: $secondary2;
  color: $secondary9;
  padding: 0 5px;
}

.errors-success {
  background: $blue2;
  color: $blue9;
  padding: 0 5px;
}

.errors-danger {
  background: $tertiary2;
  color: $tertiary9;
  padding: 0 5px;
}

.week-day {
  height: 100px;
  border-bottom: 1px solid #dadada;
  align-content: center;
  padding-left: 25px;
  font-weight: bold;
}

.table-header {
  text-align: center;
  padding: 5px 0;
  align-content: center;
  text-transform: capitalize;
}

.day-summary {
  height: 100px;
  border-bottom: 1px solid #dadada;
  padding: 0 10px;
  text-align: center;
  align-content: center;
}

.label {
  color: $blue6;
  font-weight: bold;
  margin-right: 10px;
}

.ingredient {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.ingredient-quantity {
  width: 50%;
  text-align: end;
  font-size: 0.7rem;
  color: $blue6;
  margin-right: 10px;
}

.ingredient-name {
  flex-grow: 1;
  text-align: start;
}

.buttons {
  margin: auto 0 10px auto;
}
