<!--<pre>{{teste}}</pre>-->
<div class="errors-warning table-header" *ngIf="plan.errors.length > 0 && plan.errors.length < 5"><i class="fa-solid fa-triangle-exclamation note-icon"></i>{{plan.errors.length}} restrictions not met</div>
<div class="errors-danger table-header" *ngIf="plan.errors.length > 4"><i class="fa-solid fa-bomb note-icon"></i>{{plan.errors.length}} restrictions not met</div>
<div class="errors-success table-header" *ngIf="plan.errors.length === 0"><i class="fa-solid fa-thumbs-up note-icon"></i>All restriction were met</div>

<div class="header" style="margin-top: 10px; display: flex">
  <search-component (changes)="searchValue = $event" [placeholder]="'search for ingredient'"></search-component>
  <div class="total-price">{{'Total cost: ' + weekCost.toFixed(2)}}</div>
</div>


<div class="plan">
  <div class="first-column">
    <div class="week-day">Monday</div>
    <div class="week-day">Tuesday</div>
    <div class="week-day">Wednesday</div>
    <div class="week-day">Thursday</div>
    <div class="week-day">Friday</div>
    <div class="week-day">Saturday</div>
    <div class="week-day">Sunday</div>
  </div>

  <div *ngFor="let meal of mealList" style="flex-grow: 1" class="normal-column">
    <div class="table-header" style="font-weight: bold">{{ meal }}</div>

    <div class="day-summary" *ngFor="let day of ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']">
      <div *ngFor="let ing of getIngredientsForDayAndMeal(day, meal)" class="ingredient" style="display: flex">
        <div class="ingredient-quantity">{{'(' + ing.quantity + ' units)'}}</div>
        <div class="ingredient-name" [ngStyle]="{'color': getIngColor(ing.name), 'font-weight': getIngFontWeight(ing.name)}">
          {{ing.name}}
        </div>
      </div>
    </div>
  </div>


  <div style="flex-grow: 1">
    <div class="table-header" style="font-weight: bold">Daily counts</div>
    <div class="day-summary" *ngFor="let day of ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']">
      <div><span class="label">Calories:</span><span style="width: 35px; display: inline-block; text-align: start">{{getNutrientsByDay(day, 'calories', 0)}}</span></div>
      <div><span class="label">Proteins:</span><span style="width: 35px; display: inline-block; text-align: start">{{getNutrientsByDay(day, 'proteins', 2)}}</span></div>
    </div>
  </div>
</div>

<div class="buttons">
  <button-component [size]="'big'" [type]="'secondary'" [title]="'Discard'" (click)="discard()"></button-component>
  <button-component [loading]="loading" (click)="save()" [size]="'big'" [title]="'Save'" [ngStyle]="{'margin-left': '5px'}"></button-component>
</div>
